.places{
    padding-top: 12px;
}
@media (max-width: 1024px){
    .places {
        padding-top: 12px;   
    }
@media (max-width: 768px){
    .places {
        padding-top: 12px;  
    }
} 
@media (max-width: 320px){
    .places {
        padding-top: 12px;  
    }
} 