.cover__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    /*padding: 10px;*/
    width: 100%;
}
.cover__container:hover{
    background: rgba(42, 44, 47, 0.3);  
}