.footer__copyright{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
@media (max-width: 690px){
    .footer__copyright {
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 575px){
    .footer__copyright {
        margin-top: 48px;
    }
}