.lead__image{
    margin-top: 64px;
    max-width: calc(100% - 200px);
    width: 100%;
}
@media (max-width: 1024px){
    .lead__image{
        max-width: 928px;
        margin-top: 56px;
    }
}    
@media (max-width: 768px){
    .lead__image{
        margin-top: 56px;
        max-width: 768px;
        
    }
} 
@media (max-width: 320px){
    .lead__image{
        margin-top: 40px;
        max-width: 320px; 
    }
}  