.cover{
    display: flex;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 92px;
    min-height: 740px;
    color: white;
    font-family: "Inter", arial, sans-serif;
}
@media (max-width: 1024px) {
    .cover {
        min-height: 640px;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .cover {
        margin-top: 90px;
        min-height: 480px;
    }
} 
@media (max-width: 320px) {
    .cover {
        margin-top: 66px;
        min-height: 200px;
    }
} 
