.footer__row{
    margin-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
 
@media (max-width: 768px){
    .footer__row{
        margin-top: 88px;  
    }
} 
@media (max-width: 575px){
    .footer__row {
        margin-top: 64px; 
        flex-direction: column;
    }
} 