.content__container{
    padding: 0;
}
@media (max-width: 1024px){
    .content__container{
        padding: 0 48px;
    }
} 
@media (max-width: 768px){
    .content__container{
        padding: 0 24px;
    }
} 
@media (max-width: 575px){
    .content__container{
        padding: 0 17px;
    }
} 
@media (max-width: 320px){
    .content__container{
        padding: 0 16px;
    }
} 