.header__container{
    padding: 0;
}
@media (max-width: 1020px){
    .header__container{
        padding: 0 48px;
    }
} 
@media (max-width: 768px){
    .header__container{
        padding: 0 24px;
    }
} 
@media (max-width: 575px){
    .header__container{
        padding: 0 17px;
    }
} 
@media (max-width: 320px){
    .header__container{
        padding: 0 16px;
    }
} 