.lead__caption{
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    width: 158px;
    height: 14px;
    margin: 0;
    margin-top: 8px;
    text-align: left;
    margin-left: 100px;
    letter-spacing: 1.5px;
}